:root {
    --key-color: rgba(40, 45, 50, 1);
    --darkgrey-color: rgba(55, 65, 75, 1);
    --grey-color: rgba(215, 220, 225, 1);
    --accent-color: rgba(255, 100, 0, 1);
    --glow-color: rgba(255, 100, 0, 0.15);
    --section-width: 1120px;
    --base-size: 27px;
    font-family: "Inter", sans-serif;
    color: var(--key-color);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
    background-color: #FFF;
}

img,
iframe {
    width: 100%;
    border-radius: var(--base-size);
}

iframe {
    aspect-ratio: 16/9;
}

main {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 calc(var(--base-size)*3);

}

nav {
    margin-top: calc(var(--base-size)*2);
    padding-bottom: calc(var(--base-size)/2);
    width: var(--section-width);
    color: var(--darkgrey-color);
    border-bottom: calc(var(--base-size)/27) solid var(--grey-color);
}

section {
    display: flex;
    flex-direction: column;
    width: var(--section-width);
}

h1 {
    --heading-size: calc(var(--base-size)/3*7);
}

h2 {
    --heading-size: calc(var(--base-size)/3*6);
}

h3 {
    --heading-size: calc(var(--base-size)/3*4);
}

.card-title {
    --heading-size: var(--base-size)
}

.hero {
    --heading-size: calc(var(--base-size)/3*10);
}

p {
    --text-size: var(--base-size)
}

.tag,
li,
.card-description,
footer,
nav{
    --text-size: calc(var(--base-size)*0.85);
}

h1 span {
    color: var(--accent-color);
}

h1,
h2,
h3,
.card-title {
    font-size: var(--heading-size);
    margin: calc(var(--heading-size) * 1.5) 0 calc(var(--heading-size) * 0.5);
    line-height: calc(var(--heading-size) * 1.2);
    letter-spacing: calc(var(--heading-size) * 0.05);
    color: var(--darkgrey-color);
    text-transform: uppercase;
    font-weight: 900;
}

p,
.tag,
li,
figcaption,
.card-description,
footer {
    font-size: var(--text-size);
    line-height: calc(var(--text-size)*1.6);
    letter-spacing: calc(var(--text-size)*0.02);
}

p {
    margin-bottom: var(--text-size);
}

nav{
    font-size: var(--text-size);
}

a{
    font-size: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

p a:link,
p a:visited {
    color: var(--accent-color);
}

footer {
    justify-content: center;
    display: flex;
    padding: var(--base-size) 0 calc(var(--base-size)*2);
    background: var(--grey-color);
    color: var(--darkgrey-color);
}

figure {
    margin: var(--base-size) 0;
}

figcaption {
    text-align: center;
}

figure img {
    border-radius: var(--base-size);
    border: calc(var(--base-size)/27) solid var(--grey-color);
}

.btns {
    display: flex;
    margin: calc(var(--base-size)*2) 0 0;
    gap: calc(var(--base-size)*0.5);
    color: #fff;
}

.btn,
.tag {
    display: flex;
    align-items: center;
    border-radius: 100px;
    color: #fff;
}

.btn {
    font-size: var(--base-size);
    line-height: var(--base-size);
    padding: calc(var(--base-size)*0.75) calc(var(--base-size)*1.5);
    transition: transform 0.25s;
    background-color: var(--accent-color);
}

.tag {
    padding: calc(var(--base-size)*0.25) var(--base-size);
    background-color: #F01414;
}

.btn:hover {
    transform: scale(1.02);
}

.btn.secondary {
    background-color: #fff;
    color: var(--accent-color);
    border: calc(var(--base-size)/9) solid var(--accent-color)
}

.tags {
    display: flex;
    align-items: center;
    gap: calc(var(--base-size)/3);
}

.tag:nth-child(2) {
    background-color: #009BFF;
}

.tag:nth-child(3) {
    background-color: #119900;
}

.tag:nth-child(4) {
    background-color: #E300FF;
}

.tag:nth-child(5) {
    background-color: #0055FF;
}

.cards {
    display: flex;
    gap: calc(var(--base-size)/27*32);
}

.card {
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #FFF;
    border: calc(var(--base-size)/27) solid var(--grey-color);
    border-radius: var(--base-size);
    padding-bottom: var(--base-size);
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.01);
}

.card img {
    border-radius: 0;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--base-size)*1.5);
}

.card-title {
    margin: calc(var(--base-size)*1.5) 0 var(--base-size);
}

.cursor-glow {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--section-width);
    height: var(--section-width);
    border-radius: 50%;
    background: radial-gradient(circle, var(--glow-color) 0%, rgba(255, 100, 0, 0) 50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: multiply;
    filter: blur(calc(var(--section-width)/16));
    transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform;
    opacity: 0;
}

@media (max-width: 1280px) {
    :root {
        --section-width: 94vw;
        --base-size: 2.3vw;
    }

    .cursor-glow {
        display: none;
    }
}

@media (max-width: 640px) {
    :root {
        --base-size: 3.2vw;
    }

    .cards {
        flex-direction: column;
    }
}